<h2>servers</h2>
<div [innerText]="allowNewServer"></div>
<div>{{allowNewServer}}</div>
<!--if you want to output something in template than use String interpolation-->
<!--if you want to change some property in html element, directive, component than use property binding-->
<br>
<!-- Property Binding use '[' -->
<!-- Event Binding use '(' -->
<!-- In Event Binding, if we use onclick property then just need to write click -->
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add server</button>
<h5>{{serverCreationStatus}}</h5>
<br>
<app-server></app-server>
<app-server></app-server>

