<hr><br>
<h3>Binding servers Name: {{serverName}}</h3>
<!-- Event Binding : only read -->
<!-- two way Binding : both read write -->
<table>
  <tr>
    <td>Event Binding</td>
    <td>
        <input 
        type="text" 
        class="form-control"
        (input)="onUpdateServerName($event)">
    </td>
  </tr>
  <tr>
    <td>Two way data binding</td>
    <td>
        <input 
        type="text" 
        class="form-control"
        [(ngModel)]="serverName">
    </td>
  </tr>
</table>


<br>
<div [innerText]="allowNewServer"></div>
<div>{{allowNewServer}}</div>
<!--if you want to output something in template than use String interpolation-->
<!--if you want to change some property in html element, directive, component than use property binding-->
<!-- Property Binding use '[' -->
<!-- Event Binding use '(' -->
<!-- In Event Binding, if we use onclick property then just need to write click -->
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add server</button>
<!--<h5>{{serverCreationStatus}}</h5>-->
<!--  If Condition -->
<p *ngIf="serverCreated">Server was created, Server name is {{serverName}}</p>
<!--  If else Condition -->
<!--<p *ngIf="serverCreated; else noServer">Server was created, Server name is {{serverName}}</p>
<ng-template #noServer>
  <p>No server created.</p>
</ng-template>-->

<br>
<app-server></app-server>
<app-server></app-server>

